html {
   background-color: #343634;
}

.button {
    
    height: 23px;
}

.h1 {
    padding-top: 5px;
padding-bottom: 7px;
}

.car {
    background-color:yellow;
    width: 150px;
    margin: 0 auto;
   
}


.all {
    display: flex;
    flex-direction: column;

}

.center {
    text-align: center;
}

.taxi {
    text-align: center;
}